<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/main.css" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>

    <div>
      <div class="big-block">
        <div>
          <h4>About us</h4>
        </div>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>

        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>

        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>

        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
      </div>
    </div>

    <footer>
      <div class="footer-div">
        <p>one</p>
        This is the first
      </div>
      <div class="footer-div">
        <p>two</p>
        This is the second
      </div>
      <div class="footer-div">
        <p>three</p>
        This is the third
      </div>
    </footer>
  </body>
</html>
