<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/main.css" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>

    <div class="main-div">
      <img id="main-img" src="./img/1.jpeg" alt="photo" />
    </div>

    <div>
      <div class="block">
        <img src="./img/2.jpeg" alt="photo" />
        <h4>Nature</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque
          recusandae commodi fuga libero reiciendis a debitis. Earum explicabo,
          dolorum, obcaecati nihil enim officiis, quae iste quisquam nemo eaque
          totam laboriosam.
        </p>
        <a
          href="/nature"
          style="padding: 5px; text-decoration: none; color: white"
          >Read more</a
        >
      </div>

      <div class="block">
        <img src="./img/3.jpeg" alt="3" />
        <h4>The World</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur a
          earum itaque. In sunt alias nihil. Porro cum, cumque dolores vitae
          facilis eos numquam amet, et atque nesciunt incidunt? Repellendus.
        </p>
        <a
          href="/about"
          style="padding: 5px; text-decoration: none; color: white"
          >Read more</a
        >
      </div>
    </div>

    <footer>
      <div class="footer-div">
        <p>Address</p>
        Ohrid, Macedonia 6000
      </div>

      <div class="footer-div">
        <p>Mission</p>
        Our mission is to make the world a better place for every lover of art
      </div>
      <div class="footer-div">
        <p>Jobs</p>
        We are always looking for new people to join our team
      </div>
    </footer>
  </body>
</html>
