<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/main.css" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <ul>
        <li><a href="/users">Home</a></li>
        <li><a href="/products">About</a></li>
        <li><a href="/products">Contact</a></li>
      </ul>
    </div>

    <div>
      <div class="big-block">
        <img src="./img/2.jpeg" alt="photo" />
        <h4>Nature</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque
          recusandae commodi fuga libero reiciendis a debitis. Earum explicabo,
          dolorum, obcaecati nihil enim officiis, quae iste quisquam nemo eaque
          totam laboriosam.
        </p>
      </div>
    </div>

    <footer>
      <div class="footer-div">
        <p>one</p>
        This is the first
      </div>
      <div class="footer-div">
        <p>two</p>
        This is the second
      </div>
      <div class="footer-div">
        <p>three</p>
        This is the third
      </div>
    </footer>
  </body>
</html>
